
<!-- SECTION 1: Hero -->
<section class="hero-section">
    <div class="group">
        <div class="text">
            <h2>
                I'm {{ site.name | split: ' ' | first }} 
                {% if site.external-links %}
                <span class="external-links">
                    {% assign platforms = "linkedin,x-twitter,github,stackoverflow,discord,medium,threads,bluesky,instagram,youtube" | split: "," %}
                    {% for platform in platforms %}
                        {% if site.external-links[platform] %}
                            {% case platform %}
                            {% when 'linkedin' %}
                            <a href="https://www.linkedin.com/in/{{ site.external-links[platform] }}/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        
                            {% when 'github' %}
                                <a href="https://github.com/{{ site.external-links[platform] }}/" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            
                            {% when 'stackoverflow' %}
                                <a href="https://stackoverflow.com/users/{{ site.external-links[platform] }}/" target="_blank">
                                    <i class="fa-brands fa-stack-overflow"></i>
                                </a>
                            
                            {% when 'discord' %}
                                <a href="https://discord.com/users/{{ site.external-links[platform] }}/" target="_blank">
                                    <i class="fa-brands fa-discord"></i>
                                </a>
                            
                            {% when 'medium' %}
                                <a href="https://medium.com/@{{ site.external-links[platform] }}/" target="_blank">
                                    <i class="fa-brands fa-medium"></i>
                                </a>
                            
                            {% when 'x-twitter' %}
                                <a href="https://x.com/{{ site.external-links[platform] }}/" target="_blank">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            
                            {% when 'threads' %}
                                <a href="https://threads.net/@{{ site.external-links[platform] }}/" target="_blank">
                                    <i class="fa-brands fa-threads"></i>
                                </a>
                            
                            {% when 'bluesky' %}
                                <a href="https://bsky.app/profile/{{ site.external-links[platform] }}/" target="_blank">
                                    <i class="fa-solid fa-cloud"></i>
                                </a>
                            
                            {% when 'instagram' %}
                                <a href="https://instagram.com/{{ site.external-links[platform] }}/" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            
                            {% when 'youtube' %}
                                <a href="https://youtube.com/@{{ site.external-links[platform] }}/" target="_blank">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>

                            {% endcase %}
                        {% endif %}
                    {% endfor %}
                </span>
                {% endif %}
            </h2>
            
            <h3> {{site.headline}} </h3>
            <p> {{site.description}}</p>
            <div class="links">
                <a href="#projects">
                    <i class="fa-solid fa-pen"></i>
                    <span>Projects</span>
                </a>
                <a href="#skills">
                    <i class="fa-solid fa-hammer"></i>
                    <span>Skills</span>
                </a>
                <a href="#contact">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Contact Me</span>
                </a>
            </div>
            
        </div>
        <div class="headshot">
            <img src= {{site.profile_image}} alt="john doe headshot">       
        </div>
    </div>
    
</section>

