
<div class="youtube-container" style="--max-width: {{ include.width | default: '560px' }}">
    <div class="youtube-aspect-ratio">
        <iframe 
            src="https://www.youtube.com/embed/{{ include.id }}{% if include.autoplay == 'true' %}?autoplay=1&mute=1{% elsif include.autoplay == 'false' %}?mute=1{% endif %}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</div>